<?xml version='1.0' encoding='utf-8'?>
<widget id="com.securecomm.messenger" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SecureComm</name>
    <description>
        Secure Private Messenger with End-to-End Encryption
    </description>
    <author email="dev@securecomm.com" href="https://securecomm.com">
        SecureComm Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <!-- Permissions for Android -->
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash.png" />
    </platform>

    <!-- Required permissions -->
    <feature name="Media">
        <param name="android-package" value="org.apache.cordova.media.Media" />
    </feature>
    
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>

    <!-- Icons -->
    <icon src="www/icons/icon-200x200.png" />

    <!-- Splash screens -->
</widget>
